<div class="main about">
	<div class="container">
		<div class="row">
			<div class="col-md-6 thumbnail">
				<img alt="Me" src="https://dl.dropbox.com/s/x5getxwnjhzzvro/11698468_911608788880803_4858472588380056361_n.jpg?dl=0" />
			</div>
			<div class="col-md-6">
				<h2>Hello. My name is <span class="highlight">Ramesh</span></h2>
				<p>I was born in 1992 and raised in Chennai before moving to Bangalore. Graduated in Bachelor of Engineering from Sri Ram Engineering College affliated to Anna University.</p>
				<p>Since 2015, I've been pursuing my passion, building websites with Ruby on Rails Framework and developing my creativity.</p>
				<p><h5 class="interest">Interests</h5></p>
				<p>My interests fall on a broad category of subjects and I like to learn anything that interests me. Some of my other interests are,</p>
				<p>
					<ul class="list">
						<li class="list-item">Web Development</li>
						<li class="list-item">Robotics and Machine Learning</li>
						<li class="list-item">Photograpy</li>
						<li class="list-item">Art(Painting and Sketching)</li>
						<li class="list-item">Psychology</li>
					</ul>	
				</p>
			</div>
		</div>
	</div>
</div>
