<div class="main portfolio"> 
	<div class="jumbotron slideshow">
		<div class="slide">
			<div class="banner">
			    <ul>
			        <li><img alt="Slide01" src="https://dl.dropbox.com/s/6tbsih26id2dj95/bgimg.jpg?dl=0" /> </li>
			        
			        <li><img alt="Slide02" src="https://dl.dropbox.com/s/1tmxg84hiuwvbzg/slide01-9d5c1b911de14032bbc4cc7b19514447.jpg?dl=0" /> </li>
			        
			        <li><img alt="Slide03" src="https://dl.dropbox.com/s/8stk26lvonvftez/science_mars_nasa_laboratory_rover_curiosity_1920x1080_12350.jpg?dl=0" /> </li>
			    </ul>
			</div>
		</div>
	</div>

	<div class="container">
	    <div class="row"> 
	        <a class="col-md-6 project" href="#">
	          <div class="thumbnail-header"> 
	            <div class="thumbnail-header-btn">
	            </div>
	            <div class="thumbnail-header-btn"></div> 
	            <div class="thumbnail-header-btn"></div> 
	          </div>
	          <div class="thumbnail">  
	            <img alt="Project01" src="https://dl.dropbox.com/s/2phudj4z1m9tkqg/Screenshot%202015-10-24%2010.06.14.png?dl=0" />
	          </div>
	          <h3>Movies' App</h3>
	          <p>Movies app that lets users view short movie description and reviews. It also lets users view the cast of each movie and their other films as well.</p> </a> 
	        <a class="col-md-6 project" href="#">
	          <div class="thumbnail-header">
	            <div class="thumbnail-header-btn"></div>
	            <div class="thumbnail-header-btn"></div>
	            <div class="thumbnail-header-btn"></div>
	          </div> <div class="thumbnail">
	          <img alt="Project02" src="https://dl.dropbox.com/s/tyx252fhr6icv7p/Screenshot%202015-10-24%2010.23.18.png?dl=0" />
	          </div>
	          <h3>Travel App</h3>
	          <p>Travel app lets people to view places to travel, based on categories such as Beaches, History, Skiing etc., It also lets users to edit or update the destinations description, name and cover image.</p>
	        </a> 
	      </div>
	      <div class="row"> 
	        <a class="col-md-6 project" href="#">
	          <div class="thumbnail-header"> 
	            <div class="thumbnail-header-btn"></div>
	            <div class="thumbnail-header-btn"></div>
	            <div class="thumbnail-header-btn"></div> 
	          </div>
	          <div class="thumbnail">
	            <img alt="Project03" src="https://dl.dropbox.com/s/rlyq7s7jixcfhrx/Screenshot%202015-10-24%2010.45.33.png?dl=0" />
	          </div>
	          <h3>Newstand</h3>
	          <p>Newstand lets users view articles. A proper authentication is required for the user to post/edit/update the content. </p>
	        </a>
	        <a class="col-md-6 project" href="#"> 
	          <div class="thumbnail-header">
	            <div class="thumbnail-header-btn"></div>
	            <div class="thumbnail-header-btn"></div>
	            <div class="thumbnail-header-btn"></div>
	          </div> <div class="thumbnail">
	          <img alt="Project04" src="https://dl.dropbox.com/s/haqyor2tfw8x4wr/Screenshot%202015-10-24%2010.30.03.png?dl=0" /> 
	          </div>
	          <h3>Threadly</h3>
	          <p>Threadly is a simple comment sharing website developed with rails.</p>
	        </a>
	      </div> 
	      <div class="row">
	        <a class="col-md-6 project" href="#">
	          <div class="thumbnail-header"> 
	            <div class="thumbnail-header-btn"></div>
	            <div class="thumbnail-header-btn"></div>
	            <div class="thumbnail-header-btn"></div> 
	          </div>
	          <div class="thumbnail">
	            <img alt="Project05" src="https://dl.dropbox.com/s/66wgrmt6pnevdzq/Screenshot%202015-10-24%2010.17.42.png?dl=0" />
	          </div>
	          <h3>Bookmarks App</h3>
	          <p>A small review app that allows users to view reviews of books.</p>
	        </a>
	        <a class="col-md-6 project" href="#"> 
	          <div class="thumbnail-header">
	            <div class="thumbnail-header-btn"></div>
	            <div class="thumbnail-header-btn"></div>
	            <div class="thumbnail-header-btn"></div>
	          </div>
	          <div class="thumbnail">
	            <img alt="Project06" src="https://dl.dropbox.com/s/c5r22oxugbgql26/Screenshot%202015-10-24%2010.36.52.png?dl=0" />
	          </div>
	          <h3>Innovation Cloud</h3>
	          <p>An app that collects user emails for subscriptions.</p>
	        </a>
	      </div>
	    </div>
	</div>